/* Weights: 500, 600, 700 */
/* Font size: 16px */

:root {
  --White: hsl(0, 100%, 100%);
  --Grey-500: hsl(0, 0%, 63%);
  --Grey-800: hsl(0, 0%, 27%);
  --Black: hsl(0, 0%, 0%);
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "League Spartan", sans-serif;
  transition: all 0.35s ease;
}

html {
  font-size: 62.5%;
}

.slider-img {
  position: relative;
}

.slider-container {
  display: flex;
  width: fit-content;
  position: absolute;
  bottom: 2px;
  right: 0;
}

.left-arrow,
.right-arrow {
  background-color: var(--Black);
  padding: 1.5rem 2rem;
  cursor: pointer;
}

.hero-img,
.about-img-dark,
.about-img-light {
  width: 100%;
}

.product-info {
  padding: 5rem 3rem 0;
}

.invisible {
  display: none;
}

.product-header {
  font-size: 3rem;
  color: var(--Black);
  font-weight: 700;
  margin-bottom: 2rem;
}

.product-description,
.about-description {
  font-size: 1.6rem;
  font-weight: 600;
  color: var(--Grey-500);
  line-height: 1.5;
}

.shop-btn {
  background: none;
  border: none;
  outline: none;
  display: flex;
  align-items: center;
  gap: 2rem;
  text-transform: uppercase;
  letter-spacing: 8px;
  font-size: 1.8rem;
  margin: 4rem 0 6rem;
}

.about-info {
  padding: 4rem 3rem;
}

.about-header {
  font-size: 1.8rem;
  text-transform: uppercase;
  letter-spacing: 4px;
  font-weight: 600;
  margin-bottom: 2rem;
  color: var(--Black);
}

.header {
  position: relative;
}

.navbar {
  position: absolute;
  padding: 4rem 2rem 0;
  display: flex;
  width: 100%;
}

.nav-logo {
  margin: 0 auto;
}

.nav-list {
  position: absolute;
  z-index: 100;
  background-color: var(--White);
  list-style: none;
  display: flex;
  width: 100%;
  padding: 4rem 2rem;
  justify-content: space-between;
}

.nav-item {
  font-size: 1.6rem;
  font-weight: 700;
}

.nav-item:nth-child(1) {
  margin-left: 6rem;
}

.close {
  z-index: 200;
}

.modal {
  position: absolute;
  width: 100vw;
  height: 100vh;
  top: 95px;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 800;
}

@media screen and (min-width: 1024px) {
  .product-catalogue {
    display: flex;
    width: 100%;
    margin: 0;
  }

  .invisible {
    display: none;
  }

  .slider-img {
    flex: 1.8;
  }

  .slider-container {
    right: -108px;
  }

  .about-info {
    padding: 5rem 5rem;
    flex: 1;
  }

  .about-img-dark,
  .about-img-light {
    flex: 1;
  }

  .product-info {
    flex: 1;
    padding: 8rem 10rem 0;
  }

  .company-summary {
    display: flex;
    margin-top: -2px;
  }

  .close,
  .hamburger {
    display: none;
  }

  .nav-logo {
    margin: 0;
  }

  .nav-list {
    position: absolute;
    z-index: 100;
    background-color: transparent;
    list-style: none;
    display: flex;
    padding: 4rem 2rem;
    margin-left: 6rem;
    justify-content: flex-start;
    gap: 4rem;
  }

  .nav-item {
    font-size: 1.6rem;
    font-weight: 700;
    color: var(--White);
    font-weight: 500;
    display: flex;
    flex-direction: column;
    align-items: center;
    cursor: pointer;
    transition: all 0.5s;
  }

  .nav-item:hover::after {
    content: "";
    height: 1px;
    width: 25px;
    border-bottom: 2px solid var(--White);
    margin-top: 2px;
    transition: all 0.5s;
  }

  .shop-btn:hover {
    color: var(--Grey-500);
    transition: color 0.35s;
    cursor: pointer;
  }

  .left-arrow:hover,
  .right-arrow:hover {
    background-color: var(--Grey-800);
  }
}
